[Unit]
Description=Merge /var into subvolume
Requires=sysroot.mount
After=sysroot.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh /bin/opensuse-merge-var.sh

[Install]
WantedBy=initrd-root-fs.target
