name: ShellCheck

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Install ShellCheck
        run: |
          sudo apt-get update
          sudo apt-get install -y shellcheck
    
      - uses: actions/checkout@v6

      - name: Check opensuse-merge-var.sh
        run: shellcheck opensuse-merge-var.sh
